<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
  </head>
  <body
    class="vh-100 bg-s-cover bg-p-lg-center"
    style="
      background-image: url(https://images.unsplash.com/photo-1688153454230-a3a4d253df0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
    "
  >
    <%- include('./layout/header'); -%>
    <h1>我是bg</h1>
    <button class="btn btn-primary">按鈕</button>
    <button class="btn btn-outline-hex">按鈕</button>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
