<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="row">
      <div class="col-6">
        <h1>我是test</h1>
        <h2 id="testH2">0</h2>
        <button id="add1" class="btn btn-primary mb-3">點擊加1</button>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
